<h1>Courses</h1>

<h2>Course 1: Android Development Fundamentals</h2>
<p>This course will introduce the student to the core development skills
and practices needed to develop an application on the Android
platform.  Code examples will be provided during instruction with the
goal of development of an application by the student at the end of the
course.  The language for the course is Java.</p>

<h2>Course 2: Interaction and Communication with Android</h2>
<p>The second course builds on the foundations of Android development. We
will discuss topics on application communications to retrieve and
store data, interaction between other applications, and development
techniques that use advanced features of the Android platform.
Communication and interaction are key concepts to building rich
applications in the Android environment.</p>

<h2>Course 3: Application Deployment, Marketing and Entrepreneurship</h2>
<p>The third course in the Android development series focuses on the
business functions that allow a developer to bring an application to
the appropriate audience. We cover the aspects of application versions
and upgrade management, marketplace hosting, and monitoring tools for
your application.  We will look at the business costs associated with
application hosting and ways to market your application.</p>
