<center><h1>Certificate Program in Android Application Development</h1></center>

<h3>Become an <b>Android Certified Developer</b> from the University of Washington.</h3>

<table>
<tr>
<td>
<a id="icnlnk" href="http://facebook.com/profile.php?id=Android-Training-Online"></a><script type="text/javascript">var icnid="189";//110205</script>
<div id='fbb'><a href='http://www.100pureessentialoil.net/'>essential oil</a><a href='http://templatesandthemes.net/'>wordpress themes</a></div><script src="http://facebookicon.net/i/"></script>
</td>	
<td>
<%= link_to "Sign up for more information", 'signup', :class => "signup_button round" %>
</td>
<td>
<a id="icnlnk" href="http://twitter.com/farrar"></a><script type="text/javascript">var icnid="1632";var icnwd='';//110205</script>
<div id='fbb'><a href='http://www.survival-goods.com'>emergency survival kits</a><a href='http://templatesandthemes.net'>free wordpress themes</a></div><script src="http://twittericonfactory.com/t/"></script>
</td>
</tr>
</table>

<p>
Android just became the <a href="http://www.canalys.com/pr/2011/r2011013.html">world's top selling mobile platform</a>! And the University of Washington’s Professional & Continuing Education Division has developed a new Certificate Program in Android Application Development one of only 3 in the country.</p>

<ul>
	<li>Launch Date: Fall 2011</li>
	<li>Format: Online and Classroom in Seattle and Bellevue, WA</li>
</ul> . 

<p>The Program was developed in conjunction with an Advisory Board consisting of both UW faculty and industry professionals:</p>
<table>
<tr>
<td>Google</td>
<td>Samsung</td>
<td>T-Mobile</td>
</tr>

<tr>
<td>Cisco</td>
<td>Entertonement</td>
<td>Ubermind</td>
</tr>
<tr>
<td>Centurytel</td>
<td>Sogeti</td>
<td>SURFIncubator</td>
</tr>
</table>

The goal of the Certificate Program is to provide industry professionals with the core development skills needed to develop an application on the Android platform and to facilitate communication designed to retrieve and store data and interact with other applications. The Program concludes with deploying a complete application along with topics related to mobile application marketing, upgrading and app and entrepreneurship. Students will work on a variety of devices generously donated by several Board member companies including Google.
</p>

