<h1>Certificate program in Android Application Development</h1>

<p>
The University of Washington’s Professional & Continuing Education Division is developing a new Certificate program in Android Application Development which will launch in Fall 2011. The program will be available as a classroom-based program in downtown Seattle and will also be available online. It was developed in conjunction with an advisory board consisting of both UW faculty and industry professionals. Participating companies on the board include Google, Samsung, T-Mobile, Cisco, Entertonement, Ubermind, Centurytel, Sogeti, and SURFIncubator. The goal of the Certificate Program is to provide industry professionals with the core development skills needed to develop an application on the Android platform and to facilitate communication designed to retrieve and store data and interact with other application The program concludes with deploying a complete application along with topics related to mobile application marketing, upgrading and app and entrepreneurship. Students will work on a variety of devices generously donated by several board member companies.
</p>

<%= link_to "Sign up for more information", 'signup', :class => "signup_button round" %>
