<center><h1>Become a certified Android App Developer!</h1></center>



<%= link_to "Sign up for more information", 'signup', :class => "signup_button round" %>

<center><h3>The University of Washington is offering a Certificate Program in Android Application Development</h3></center>
<p>
Android just became the <a href="http://www.canalys.com/pr/2011/r2011013.html">world's top selling mobile platform</a>! And the University of Washington’s Professional & Continuing Education Division has developed a new Certificate Program in Android Application Development -- one of only 3 in the country.</p>

<ul>
	<li>Audience: professionals</li>
	<li>Launch Date: Fall 2011</li>
	<li>Where: Seattle and Bellevue, WA</li>
	<li>Online: Yes</li>
	<li>Signup: Begins in June</li>
</ul>  
	<center><h3>Please send me a <%= link_to "sign up", 'signup' %> alert</h3></center>

<p>The Program was developed in conjunction with an Advisory Board consisting of both UW faculty and industry professionals:</p>
<table>
<tr>
<td>Google</td>
<td>Samsung</td>
</tr>
<tr>
<td>T-Mobile</td>
<td>And others...</td>
</tr>


</table>

The goal of the Certificate Program is to provide industry professionals with the core development skills needed to develop an application on the Android platform. In the first two courses, we will cover both beginning and advanced topics. The Program concludes with a course in app publication and mobile app marketing. Students will work on a variety of devices (handsets, tablets and <a href="http://www.google.com/tv/">Google TVs</a>) generously donated by several Board member companies including Google.
</p>

