<h1>Instructors</h1>

<table>
	<tr>
	<td>  <img src="images/farrar.jpg"/> </td>

	<td> <a href="http://faculty.washington.edu/farrar">Scott Farrar</a> PhD,  <a href="mailto:farrar@uw.edu?subject=androidcert">farrar@uw.edu</a>
	<p>Scott received his degree from the University of Arizona and is currently teaching mobile development and NLP in the Computational Linguistics <a href="http://www.compling.uw.edu">Master's Program</a> at the University of Washington. Scott has taught courses in document summarization, dialogue processing, information extraction, and Semantic Web technologies. He has held a number of National Science Foundation research grants in the area of language documentation through the use of technology. He is a freelance Android developer and is currently CTO at <a href="http://broadspeak.com">Broadspeak</a> a social, mobile start-up.</p></td>

</table>
