<h1>Instructors</h1>

<ul>
	<li><a href="http://faculty.washington.edu/farrar">Scott Farrar</a>, PhD of the University of Washington, <a href="mailto:farrar@uw.edu?subject=androidcert">farrar@uw.edu</a></li>
	<p>Scott is currently teaching mobile development and NLP in the Computational Linguistics Master's Program at the University of Washington. He is also a freelance Android developer and involved in mobile app entrepreneurship.</p>


</ul>
