<h1>Instructors</h1>

<table>
	<tr>
	<td>  <img src="images/farrar.jpg"/> </td>

	<td> <a href="http://faculty.washington.edu/farrar">Scott Farrar</a>, PhD at the University of Washington, <a href="mailto:farrar@uw.edu?subject=androidcert">farrar@uw.edu</a>
	<p>Scott is currently teaching mobile development and NLP in the Computational Linguistics <a href="http://www.compling.uw.edu">Master's Program</a> at the University of Washington. He is also a freelance Android developer and current CTO at <a href="http://broadspeak.com">Broadspeak.</a></p></td>

</table>
