<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Certificate Program in Android App Development</h1>
    <p>
      You have successfully signed up to receive occasional updates on the University of Washington Certificate Program in Android App Development. Feel free to e-mail me with course content questions in the meantime:</p>

<p>Scott Farrar, farrar@uw.edu</p>


<p>If you have specific registration questions, please direct those inquiries to Erik Bansleben, the Program Director:</p>

<p>ebansleben@pce.uw.edu</p>

<p>Sincerely,</p>

<p>Scott Farrar, PhD</p>
<p>University of Washington</p>
<p>http://faculty.washington.edu/farrar</p>
    
  </body>
</html>
