<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Instructors", instructors_path %></li>
      <li><%= link_to "Courses", courses_path %></li>
      <li><a href="http://www.android.com/">Android News</a></li>
    </ul>
  </nav>
</footer>
