      <header>
	
<a href="http://www.facebook.com/pages/Certificate-Program-in-Android-Application-Development/190861560932627"><img src="images/facebook.png"/></a>

<a href="http://www.linkedin.com/in/scottfarrar"><img src="images/linkedin.png"/></a>
<a href="http://www.android.com"> <img src="images/android.png"/> </a>

<nav class="round">

          <ul>
            <li><%= link_to "Home", root_path  %></li>
            <li><%= link_to "Instructors", instructors_path %></li>
            <li><%= link_to "Courses",  courses_path %></li>
          </ul>
        </nav>
      </header>

